{{#if notEditing}}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Question: {{model.question}}</h3>
    <h4>Author: {{model.author}}<span style="float: right">{{model.formattedDate}}</span></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">
        <h4>Description:</h4>
        <p>{{model.description}}</p>
      </div>
      <div class="col-md-3">
        <span {{action 'edit'}} class="btn btn-primary">Edit this Question</span><br>
        <span {{action 'delete'}} class="btn btn-danger">Delete this Question</span>
      </div>
    </div>
  </div>
</div>
{{#link-to 'new-answer'}}<span style="width: 100%;" class="btn btn-success">Answer this Question</span>{{/link-to}}
{{outlet}}

<h2>Answers:</h2>

{{#each model.answers as |answer|}}
<div {{action 'showAnswer' answer}} class="panel panel-success">
  <div class="panel-heading">
    <h4>{{answer.author}}<span style="float: right">{{answer.formattedDate}}</span></h4>
  </div>
  <div class="panel-body">
    {{answer.answer}}
  </div>
</div>
{{/each}}

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{currentAnswer.author}}<span style="float: right">{{currentAnswer.formattedDate}}</span></h4>
      </div>
      <div class="modal-body">
        <p>{{currentAnswer.answer}}</p>
      </div>
      <div class="modal-footer">
        <span {{action 'deleteAnswer' currentAnswer}} class="btn btn-danger">Delete this Answer</span>
      </div>
    </div>
  </div>
</div>

{{else}}

<div class="form-group">
  <form>
    {{input valueBinding="question" class="form-control" id="question" placeholder="Enter your question"}}<br>
    {{input valueBinding="author" class="form-control" id="author" placeholder="Enter your name"}}<br>
    {{textarea valueBinding="description" class="form-control" rows="5" id="description" placeholder="Enter some more information"}}<br>

    <button class="btn btn-primary" {{action 'save'}}>Submit Question</button>
  </form>
</div>

{{/if}}
